.aboutparallax {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(images/book-1421097_1280.jpg);
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: darken;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.calloutred {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #d9534f;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.calloutblue {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #428bca;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.calloutgreen {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #5cb85c;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.calloutyellow {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #f0ad4e;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.calloutgrey {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #6c757d;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

.calloutcyan {
  padding: 20px;
  margin: 20px 0;
  border-left: 5px solid #17a2b8;
  border-radius: 3px;
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: 3px;
  }
  & + .bs-callout {
    margin-top: -5px;
  }
}

