.servicesparallax {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(/images/sun-5685447_1280.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}